
<div class="bmain-container">

  <div class="bi-row">
    <% @bookings.each do |booking| %>
      <div class="col-xs-12">
        <div class="booking-container">
          <div class="left-container">
            <div class="large-name" ><%= "#{booking.resort.name}" %></div>
            <div class="text" ><%= "Address: #{booking.resort.address}" %></div>
            <div class="details"><%= "From #{booking.start_date} for #{booking.duration} nights" %></div>
            <div class="name"><%= " Total Price: € #{booking.total_price}" %></div>
          </div>
          <div class="right-container">
         <%= link_to resort_path(booking.resort), target: :_blank do %>
          <div class="card-resort" class="resort" style="background-image: url(<%= image_path booking.resort.image %>);">
          <% end %>
          </div>
          </div>
        </div>
    <% end %>
      </div>
  </div>
</div>







