<h1>Bookings#index</h1>
<!-- <p>Find me in app/views/bookings/index.html.erb</p> -->

<div class="main container">

  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-xs-12">
        <div class="booking-container">
          <div class="left-container">
            <div class="large-name" ><%= "#{booking.resort.name}" %></div>
            <div class="text" ><%= "Address: #{booking.resort.address}" %></div>
            <div class="details"><%= "From #{booking.start_date} for #{booking.duration} nights" %></div>
            <div class="name"><%= " Total Price: € #{booking.total_price}" %></div>
          </div>
          <div class="right-container">
           <div class="card-booking" class="resort" style="background-image: url(<%= image_path booking.resort.image %>);"></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>





