<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <!-- Links when logged in -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/r629al5meq01gxyad2zz.jpg" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "My bookings", bookings_path %></li>
          <li><%= link_to "My favorites", favorite_resorts_path %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %>
              <%= t(".sign_out", default: "Log out") %>
              <% end %></li>
        </ul>
      </div>
    </div>

    <% else %>
  <!-- Login link (when logged out) -->
  <div class="home-signup">
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-default" %>
  </div>
  <div>
    <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "btn btn-warning" %>
      <% end %>
  </div>
  </div>
</div>


