<h3>Resorts</h3>
<!-- <p>Find me in app/views/resorts/index.html.erb</p> -->
<div class="line">
</div>

<div class="main-container">
 <div class="card-container">
   <div class="row deleting-padding">
     
     <% @resorts.uniq.each do |resort| %>
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

       <%= link_to resort_path(resort), target: :_blank do %>
       <div class="card-resort" class="resort" style="background-image: url(<%= image_path resort.image %>);">

       </div>
       <% end %>
       <div>
         <% if current_user %>

           <% if current_user.likes?(resort) %>

              <%= link_to favorite_resort_path(resort, resort_id: resort), method: :delete do %>
              <%= icon("fas", "heart") %>
             <% end %>

           <% else %>

            <%= link_to favorite_resorts_path(resort_id: resort), method: :post do %>
              <%= icon("far", "heart") %>
            <% end %>

          <% end %>
          <% end  %>
         </div>

       <div class=" text ">
         <div input type="text" class="location"><%= "#{resort.country}, #{resort.continent} " %> </div>
         <div input type="text" class="name"> <%= link_to resort.name, resort_path(resort) %></div>
         <div input type="text" class="price-index"><%="€#{resort.price} per/night" %></div>
       </div>
     </div>
     <% end %>
   </div>
 </div>

 <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>





