<div class="container-top-show-resort">
  <div class="row">
    <div class="hidden-sm-down col-md-6 col-lg-4">
      <div class="resort-name">
        <div class="resort-address">
          <p> Resort in <%= @resort.address %></p>
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h3> <%=  @resort.name %> </h3>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8">

      <div class="resort-picture" style=" background-image: url(<%= image_path @resort.image %>);">
        <% if current_user %>
          <% if current_user.likes?(@resort) %>
            <%= link_to favorite_resort_path(@resort, resort_id: @resort), method: :delete do %>
              <%= icon("fas", "heart") %>
            <% end %>
          <% else %>
            <%= link_to favorite_resorts_path(resort_id: @resort), method: :post do %>
              <%= icon("far", "heart") %>
            <% end %>
          <% end %>
          <% end  %>
      <!--   <i class="far fa-heart"></i> -->

     <!--  <div class="resort-picture" style=" background-image: url(<%= image_path @resort.image %>);">
        <i class="far fa-heart"></i>
        <i class="far fa-share-square"></i>
 -->
      </div>
    </div>
  </div>
</div>


<div class="resort-description">
  <p><%=  @resort.description %> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur.</p>
</div>

<div class="row-show-resort">
  <div class="col-sm-12 col-md-12 col-lg-12 visit-this-resort">
    <h3 id="visit">Visit this resort</h3>
    <div class="row-show-resort">
      <div class="visit-resort">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="http://www.furnishburnish.com/wp-content/uploads/2012/07/making-cozy-home5.jpg">
          <p>Rooms</p>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="https://www.hurawalhi.com/wp-content/uploads/2016/09/Hurawalhi_Aquarium_Sunrise.jpg">
          <p>Facilities</p>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="https://s3.amazonaws.com/busites_www/mvkeywestresort/banner_pool_green_towels_1506033934.jpg">
          <p>Pool</p>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="https://www.omnihotels.com/-/media/images/hotels/mtwash/restaurants/mtwash-omni-mount-washington-resort-cave-bar-1.jpg">
          <p>Bar</p>
        </div>
      </div>
      </div>
    </div>
  </div>


<div class="show-banner" style=" background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.popsci.com/sites/popsci.com/files/images/2017/06/beach-wave.jpg');">
  <div class="text-banner-show-resort">
    <h4 class="title-show-resort">WELCOME HOME</h4>
    <p class="description-show-resort">Visit <%= @resort.country %> like you've never seen</p>
  </div>
</div>


<footer class="footer-show-resort">
  <div class="relative-footer">
    <p class="address-footer"> Resort in <%= @resort.address %></p>
    <div class="stars-footer">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
  </div>
  <div class="footer-form">
    <%= form_for([@resort, @booking], layout: :inline) do |f| %>
      Start date: <%= f.date_field :start_date, as: :date, min: Date.today, label: "Start date" %>
      Duration: <%= f.number_field :duration, min: 1, label: "Duration" %>
      <span class="price"> <%= @resort.price %>€ </span>
      <span class="per-nigth">/nigth</span>
    <%= f.button submit: 'Bfewfwe' %>
    <% end %>
  </div>
</footer>
